:root {
  --disabled: #e0e0e9;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

fieldset,
.progress-container {
  max-width: 500px;
  margin-inline: auto;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 2em;
  max-width: 100%;
  width: 350px;
  margin-bottom: 3em;
}

#progress {
  position: absolute;
  accent-color: var(--bk-yellow);

  top: 50%;
  left: 0;
  width: 100%;

  transform: translateY(-50%);
  z-index: -1;
  transition: all 0.4s ease;
}

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 2em;
  width: 2em;
  display: grid;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--disabled);
  transition: 0.4s ease;
  position: relative;
}

.circle.active {
  border-color: var(--bk-yellow);
  color: black;
}

.circle.completed {
  border-color: green;
}

.honeyBee-fieldset {
  width: 100%;
}

.honeyBee-fieldset label {
  margin-right: 1em;
}

.form-group #id_description {
  padding-inline: 1em;
}

.btn {
  background-color: var(--bk-yellow);
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  padding: 0.5em 2em;
  margin: 5px;
  font-size: 0.89em;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--disabled);
  cursor: not-allowed;
}

.check-box-wrapper {
  width: fit-content;
  margin-inline: auto;
}

:disabled {
  cursor: not-allowed;
}

#checkbox {
  accent-color: var(--bk-yellow);
}

.labelRequiredAsterisk {
  position: relative;
}
.labelRequiredAsterisk::after {
  content: "*";
  color: red;
  position: absolute;
  top: -5px;
  right: -5px;
}

fieldset {
  border-image: linear-gradient(var(--angle), black, var(--bk-yellow)) 1;
  border-width: 2.5px;
  padding: 1em;
  width: min-content;
  animation: 20000ms gradientRotate linear infinite;
}

.btn-container {
  display: flex;
  align-items: center;
}

.display-none {
  display: none;
}

.errors {
  display: block;
  font-size: 0.75rem;
  color: red;
}

.hide {
  transform: scaleX(0);
  overflow: hidden;
  transform-origin: left;
  transition: 400ms ease-in-out;
}

form {
  position: relative;
  background-color: white;
  margin-bottom: 50rem;
}

.absolute-form-field {
  position: absolute;
  inset: 0;
  max-width: 500px;
  margin-inline: auto;
}

fieldset {
  position: relative;
  transition: transform 400ms ease;
}

.imageRequiredSpan {
  position: relative;
  font-weight: 600;
}
.imageRequiredSpan::after {
  --height: 5px;
  content: "";
  position: absolute;
  bottom: calc(var(--height) * -1);
  left: -2px;
  right: -2px;
  transform: scaleX(0);
  background-color: var(--bk-yellow);
  height: var(--height);
  border-radius: 10px;
  transform-origin: left center;
  animation: 1000ms underLineAnimation linear forwards;
}

textarea {
  display: block;
  width: 100%;
}

@media (min-width: 600px) {
  .personal-details-fieldset {
    display: grid;
    gap: 0.5em;
    grid-template-columns: min-content min-content;
    border-radius: 5px;
    justify-items: start;
  }

  legend {
    padding-inline: 1em;
  }
  .honeyBee-fieldset {
    display: grid;
    gap: 1em;
  }
}

@media (prefers-reduced-motion) {
  fieldset {
    --angle: 100deg;
  }
  .imageRequiredSpan::after {
    transform: scale(1);
  }
}

@keyframes gradientRotate {
  to {
    --angle: 360deg;
  }
}

@keyframes underLineAnimation {
  to {
    transform: scaleX(1);
  }
}
