.intro,
.data-section,
.about-us-section,
.beekeeper-section {
  min-height: 100vh;
  min-height: 100dvh;
}

.data-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro h1 {
  font-size: clamp(1rem, 0.8644rem + 0.678vw, 1.5rem);
  font-weight: 800;
  margin-bottom: 0.5em;
  color: #ea9d34;
}

.intro h2 {
  font-size: clamp(1.125rem, 0.7521rem + 1.8644vw, 2.5rem);
  font-weight: 600;
  margin-bottom: 2rem;
  color: #ea9d34;
}

.intro a {
  text-decoration: none;
  padding: 1.5rem 3rem;
  font-weight: 700;
  background-color: #ea9d34;
  color: #ffffff;
  font-size: clamp(1.125rem, 1.4047rem + -1.3983vw, 0.09375rem);
  text-transform: uppercase;
  border-radius: 100vmax;
  box-shadow: 10px 10px 12px 1px rgba(0, 0, 0, 0.19);
}

.findKeeper {
  display: block;
}

.col1 {
  text-align: center;
}

.data-section {
  padding-block: 3em;
  position: relative;
}

.data-section::after {
  content: "";
  position: absolute;
  isolation: isolate;
  inset: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
}

.data-section h2 {
  font-size: clamp(1.75rem, 0.7521rem + 1.8644vw, 2.5rem);
  font-weight: 600;
}

.data-section h3 {
  font-size: clamp(1.25rem, 0.8644rem + 0.678vw, 3rem);
  font-weight: 600;
}

.data-section .card {
  padding: 1em 2em;
  background-color: rgba(0, 0, 0, 0.59);
  border-radius: 5px;
  color: #ea9d34;
}

.card {
  text-align: center;
}

.data-section .grid-data-section {
  display: grid;

  gap: 1rem;
}

.grid-data-section-col2 {
  display: grid;
  gap: 1rem;
}

.data-section span {
  display: block;
  font-size: 2.5rem;
  text-align: center;
}

.grid-wrapper {
  width: min(100% - 1rem, 1000px);
  margin-inline: auto;
}

.about-us-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.about-us-card,
.beekeeper-card {
  background-color: #3b3838;
  color: white;
  padding: 2em 1em;
}

.img-div {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  background-color: #3b3838;
}
.img-div > .img {
  height: 100%;
  width: 100%;
}
.about-us-text-wrapper {
  grid-row: 2 / -1;
  grid-column: 2 / -1;
}

.beekeeper-section {
  position: relative;
}

.beekeeper-section::after {
  content: "";
  position: absolute;
  inset: 0;
  isolation: isolate;
  background-color: #7f7f7f;
  z-index: -2;
}

@media (max-width: 601px) {
}

@media (min-width: 600px) {
  .grid-intro {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
  }
  .grid-data-section-col2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    grid-template-rows: 1fr 1fr;
  }
  .img-Honeybee {
    height: 750px;
    width: 550px;
    position: relative;
  }

  .grid-data-section {
    grid-template-columns: 0.5fr 0.5fr;
    align-items: start;
  }
  .bees-saved {
    grid-column: 1/-1;
  }

  .img-div {
    grid-row: 1 / -1;
    grid-column: 2 / 6;
    background-color: #3b3838;
  }

  .about-us-grid {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }

  .about-us-text-wrapper {
    grid-row: 5 / 9;
    grid-column: 4 / -3;
  }

  .beekeeper-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  .beekeeper-text-wrapper {
    grid-column: 2 / 8;
    grid-row: 2 / -2;
  }

  .beekeeper-img-wrapper {
    background-color: red;
    grid-column: 7 / -2;
    grid-row: 1 / -1;
    position: relative;
    z-index: -1;
  }
  .beekeeper-img-wrapper > .img {
    height: 100%;
    width: 100%;
  }
}

::selection {
  background-color: #ea9d34;
  color: white;
}
