.intro h1 {
  font-size: 1rem;
  font-weight: 800;
  margin-bottom: 0.5em;
  color: #ea9d34;
}

.intro h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: #ea9d34;
}

.intro a {
  text-decoration: none;
  padding: 1.5rem 3rem;
  background-color: #ea9d34;
  color: #ffffff;
  font-size: clamp(1.125rem, 1.4047rem + -1.3983vw, 0.09375rem);
  text-transform: uppercase;
  border-radius: 100vmax;
  box-shadow: 10px 10px 12px 1px rgba(0, 0, 0, 0.19);
}

.findKeeper {
  display: block;
}

.img-Honeybee {
  height: 320px;
  width: 400px;
  position: relative;
}

.grid-intro {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.col1 {
  text-align: center;
}

@media (max-width: 600px) {
  /* Desktop first design due to position absolute */
  .grid-intro {
    position: relative;
    isolation: isolate;
    padding-block: 3rem;
  }

  .col2 {
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  .intro {
    position: relative;
    padding-block: 1.5rem;
  }
  .intro::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
