@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Roboto+Condensed:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

.nav-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
  padding-top: 2rem;
  background-size: contain;
}

.nav-ul {
  display: flex;
  gap: 2rem;
}

.nav-link {
  text-decoration: none;
}

.beekeeper-expanding {
  display: grid;
  cursor: pointer;
}

.beekeeper-ul {
  transform: scaleY(0);
  overflow: hidden;
  transition: 500ms ease;
  transform-origin: top;
  padding: 0;
}

.opened {
  transform: scaleY(1);
  overflow: hidden;
  transition: 500ms ease;
}

.content-wrapper {
  width: min(100% - 1.5rem, 1500px);
  margin-inline: auto;
}

footer {
  background-color: #3b3838;
  color: #ea9d34;
  display: grid;
  align-items: center;
  grid-template-columns: min-content 1fr;
  padding: 1.5em 2.5em;
}

.footer-content {
  justify-self: center;
}

footer .footer-h2 {
  font-size: clamp(2.5rem, 2.3644rem + 0.678vw, 3rem);
}

footer :not(.footer-h2) {
  text-align: center;
}
