{% extends "base.html" %}
{% load static %}
{% block cssfiles %}
    <link rel="stylesheet" href="{% static "tickets/tickets.css" %}">
{% endblock cssfiles %}
{% load django_tables2 %}
{% load render_table from django_tables2 %}
{% block content %}
    {{ filteredData }}
    <form action="">
        {{ filter.form }}
        <button type="submit">Search</button>
    </form>
    {% render_table tables %}
{% endblock content %}
{% block jsfiles %}
    <script src="{% static "tickets/tickets.js" %}"></script>
{% endblock jsfiles %}
