{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
              content="Welcome to Swarms.ie Irelands Honeybee Rescue Network " />
        <meta name="keywords"
              content="bee removal ireland,bee swarm removal,Rehoming bees,bee removal,bee nest removal,bee nest removal near me,bee movers near me, Swarm of bees,  how to get rid of bees in chimney,how to get rid of bees in roof, bee rescue removal,honeybee ireland, how to get rid of bees nest in roof tiles, bee collection service, bee home,how to get rid of bees in roof space, bee collector,Local beekeeper, swarm.ie, swarms ie" />
        <meta name="author" content="Swarms.ie" />
        <link rel="stylesheet" href="{% static "reset.css" %}">
        <link rel="stylesheet" href="{% static "base.css" %}">
        {% block cssfiles %}
        {% endblock cssfiles %}
        <title>Swarms.ie | Honeybee Swarm Removals</title>
    </head>
    <body class="short-page-body">
        <header>
            <div class="nav-wrapper">
                <a href={% url "index" %} class="branding-link">
                    <img src="{% static "images/logo.png" %}" alt="">
                </a>
                <nav class="nav">
                    <ul class="nav-ul" role="list">
                        <li class="nav-li">
                            <a href="#" class="nav-link">Report a Swarm</a>
                        </li>
                        <li class="nav-li">
                            <a href="{% url "about" %}" class="nav-link">About</a>
                        </li>
                        <li class="nav-li beekeeper-expanding">
                            Beekeeper
                            <ul class="beekeeper-ul" role="list">
                                <li class="beekeeper-li ">
                                    <a href="{% url "account_login" %}" class="beekeeper-link nav-link">Login</a>
                                </li>
                                <li class="beekeeper-li">
                                    <a href="{% url "account_signup" %}" class="beekeeper-link nav-link">Sign-up</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        {% block content %}
        {% endblock content %}
        <footer>
            <a href="#" class="branding-link">
                <img src="{% static "images/logo.png" %}" alt="compnay logo honeybee">
            </a>
            <div class="footer-content">
                <h2 class="footer-h2">Thank you for saving our bees!</h2>
                <a href="#">
                    <h3 class="footer-h3">swarms.ie</h3>
                </a>
                <h3 class="footer-h3">
                    All rights reserved <span>&copy;</span> <span class="copyright-year"></span>
                </h3>
            </div>
        </footer>
        <script src="{% static "base.js" %}"></script>
        {% block jsfiles %}
        {% endblock jsfiles %}
    </body>
</html>
