{% extends "base.html" %}
{% load static %}
{% block cssfiles %}
    <link rel="stylesheet" href="{% static "unauthenticated/unauthenticated.css" %}">
{% endblock cssfiles %}
{% block content %}
    <div class="about-us-page-body-grid">
        <div class="about-us-page-img img-grid-top-image"  role="presentation">
            <img src="{% static "unauthenticated/images/swarms4.jpg" %}" alt="" srcset="">
        </div>
        <div class="about-us-page-img img-grid-bottom-image" role="presentation">
            <img src="{% static "unauthenticated/images/swarms3.jpg" %}" alt="" srcset="">
        </div>
        <div class="about-us-page-grid-row">
            <section class="about-intro">
                <div class="about-us-page-text-wrapper">
                    <div class="about-us-page">
                        <h2 class="about-us-h2">About Us</h2>
                    </div>
                    <p class="about-us-page-p">
                        Swarms.ie began life in 2018 when Steve realized it was fairly difficult to get timely help if you are a member of the public, just minding your own business, until bees decide to enter your life uninvited some fine summers day
                    </p>
                    <p class="about-us-page-p">
                        Back in 2018, Ireland had around 75 regional beekeeping groups, with club names that made it hard to determine one that could be helpful in this location or that. Who do you call for bees?
                    </p>
                    <p class="about-us-page-p">
                        Unless you know a beekeeper, its can be a bit of a nightmare. It can be even worse in a town or city.
                    </p>
                    <p class="about-us-page-p">
                        Having worked in various technical support roles for a number of years with Pfizer and Hewlett Packard’s incident teams
                    </p>
                    <p class="about-us-page-p">
                        Steve was already plenty experienced to translate the corporate structure of inter-departmental support teams (yeah it was fairly dull), and apply it to beekeeping (far less dull!) :D. 
                    </p>
                </div>
            </section>
            <section class="about-us-page-mid-section">
                <p class="about-us-page-p">
                    Swarms.ie would likelihood that the swarm might end up down a chimney, or in a roof, esb box or really any unbelieve absolutely not work as a system,
                </p>
                <p class="about-us-page-p">
                    , if it were not for the beekeepers who physically travel and rehome the bees, and the members of the public who offer diligent observational stewardship to let us know where to look. The public are the eyes, the beekeeper, the hands. It would not work otherwise, completely a team effort.
                </p>
                <p class="about-us-page-p">
                    have a success rate of about 80% (success being the beekeeper gets there in time (sometimes the bees fly off), then sometimes we arent able to get a beekeeper at all, or its too dangerous to attempt unprepared and must go untouched
                </p>
                <p class="about-us-page-p">
                    But, usually, most of the time, the bees find their new home just fine in the arms of the beekeeper. Every swarm we rehome when low down and low risk, prevents the bly awkward spot for them to go into you can think of on your property. They’ll go anywhere you don’t want them, and then its an ordeal usually to solve
                </p>
                <p class="about-us-page-p">
                    Every swarm kept out of a roof or a chimney, straight off the bat avoids the likelihood of it getting exterminated. It also prevents a colony from contracting any diseases due to lack of human care and diagnosis, and acting as a vector to infect more colonies in the location.
                </p>
                <p class="about-us-page-p">
                    Bees, just like humans, suffer from certain ailments, and for the time being, until we eradicate these pathogens island-wide, bees need to be observed and cared for. 
                </p>
                <p class="about-us-page-p">
                    Every swarm saved is saved by a beekeeper who willing wants to adopt and care for those bees and is happy to go out of their way to do so, be they a tiny 500 bee nucleus of a colony, the weak kitten stage, or the full roar of 20,000 bees bursting to continue life. 
                </p>
                <p class="about-us-page-p">
                    Every swarm saved has the chance to live up to its potential of nurturing life by its essential role in pollination, and hopefully passing on the nature of its genetics for future swarms to contain. 
                </p>
            </section>
            {% comment %} <div class="about-us-page-img img-grid-bottom-image">
                <img src="{% static "unauthenticated/images/swarms4.jpg" %}" alt="" srcset="">
            </div> {% endcomment %}
            <section class="about-us-page-outro about-us-page-outro-grid">
                <div class="outro-grid-text-wrapper">
                    <p class="about-us-page-outro-p">
                        Some of the loveliest people I’ve ever chatted to have been across the airwaves of Ireland, beekeepers who have answered the phone to an unknown number, received a spiel, but then no matter, within a minute or two and with a smile these people sling their gear in the car then greet the apprehensive homeowner with a coolness as gentle as their smoke.
                    </p>
                    <p class="about-us-page-outro-p">
                        Before the kettle is cold, the bees are nicely tucked up in a nuc, the kids have seen a biology lesson and all is right in the world. It can be fairly challenging running swarms.ie on the busy days, but it genuinely is very rewarding when it all works out for everyone.
                    </p>
                    <p class="about-us-page-outro-p">
                        <span class="new-line">Thanks for reading</span>
                        <span class="new-line">Abigail & Steve</span>
                        <span class="new-line">Swarms.ie</span>
                    </p>
                </div>
            </section>
        </div>
    </div>
{% endblock content %}
