{% extends "base.html" %}
{% load static %}
{% block cssfiles %}
    <link rel="stylesheet" href="{% static "unauthenticated/unauthenticated.css" %}">
{% endblock cssfiles %}
{% block content %}
    <section class="intro">
        <h1>Ireland’s Honeybee Rescue Network</h1>
        <h2>
            Found a swarm? <span class="findKeeper">We will find you a keeper</span>
        </h2>
        <a href="#">Report a swarm</a>
    </section>
{% endblock content %}
{% block jsfiles %}
    <script src="{% static "unauthenticated/unauthenticated.js" %}"></script>
{% endblock jsfiles %}
