{% extends "base.html" %}
{% load static %}
{% block cssfiles %}
    <link rel="stylesheet" href="{% static "unauthenticated/unauthenticated.css" %}">
{% endblock cssfiles %}
{% block content %}
    <section class="intro">
        <div class="content-wrapper grid-intro">
            <div class="col1">
                <h1>Ireland’s Honeybee Rescue Network</h1>
                <h2>
                    Found a swarm? <span class="findKeeper">We will find you a keeper</span>
                </h2>
                <a href="#">Report a swarm</a>
            </div>
            <div class="col2">
                <img src="{% static "unauthenticated/images/honey_bee.png" %}" alt="" class="img-Honeybee">
            </div>
        </div>
    </section>
    <section class="data-section">
        <div class="grid-data-section">
            <div class="card card-half">
                <h2>We started in 2018</h2>
                <h3>This is what we have achieved in 4 years, imaging what we can do in 40!</h3>
            </div>
            <div class="card swarms-collected">
                <h3 class="collectedh3">
                    <span data-collected>1032</span>
                    swarms collected!
                </h3>
            </div>
            <div class="card calls-to-field">
                <h3 class="calls-field-h3">
                    <span data-calls>6504</span>
                    calls have been fielded!
                </h3>
            </div>
            <div class="card bees-saved">
                <h3 class="bees-saved-h3">
                    <span data-saved>14565</span>
                    bess have been saved!
                </h3>
            </div>
        </div>
    </section>
{% endblock content %}
{% block jsfiles %}
    <script src="{% static "unauthenticated/unauthenticated.js" %}"></script>
{% endblock jsfiles %}
