{% extends "base.html" %}
{% load static %}
{% block cssfiles %}
    <link rel="stylesheet" href="{% static "unauthenticated/unauthenticated.css" %}">
{% endblock cssfiles %}
{% block content %}
    <div class="svg-wrapper" role="presentation">
        <?xml version="1.0" encoding="UTF-8"?>
        <svg id="Layer_1"
             data-name="Layer 1"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 929.43 1202.47">
            <defs>
            <style>
.cls-1, .cls-2 {
fill: none;
stroke: #ea9d34;
stroke-miterlimit: 10;
stroke-width: 4px;
}

.cls-2 {
stroke-dasharray: 0 0 15.03 15.03;
}
            </style>
            </defs>
            <path class="cls-1" d="m2.41.11c-.09,1.73-.22,4.26-.31,7.49" />
            <path class="cls-2" d="m2,22.62c.69,50.67,12.36,166.3,101.41,240.06,61.84,51.22,131.94,58.2,156,60.28,149.86,12.93,203.77-94.75,293-73.56,132.11,31.37,226.26,317.81,144,405.62-54.57,58.25-184.02,26.16-306-4.09-173.91-43.12-223.15-103.56-280-73.56-84.37,44.52-115.3,251.21-36,325.92,97.48,91.84,275.78-96.53,572-30.65,119.09,26.49,282.64,99.71,281,184.93-1.29,66.95-104.09,117.38-151.11,137.34" />
            <path class="cls-1" d="m769.37,1197.8c-2.59,1.06-4.92,2-6.95,2.81" />
        </svg>
    </div>
    <div class="svg-wrapper-bottom" role="presentation">
        <?xml version="1.0" encoding="UTF-8"?>
        <svg id="Layer_1"
             data-name="Layer 1"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 929.43 500.47">
            <defs>
            <style>
.cls-1, .cls-2 {
fill: none;
stroke: #ea9d34;
stroke-miterlimit: 10;
stroke-width: 4px;
}

.cls-2 {
stroke-dasharray: 0 0 15.03 15.03;
}
            </style>
            </defs>
            <path class="cls-1" d="m2.41.11c-.09,1.73-.22,4.26-.31,7.49" />
            <path class="cls-2" d="m2,22.62c.69,50.67,12.36,166.3,101.41,240.06,61.84,51.22,131.94,58.2,156,60.28,149.86,12.93,203.77-94.75,293-73.56,132.11,31.37,226.26,317.81,144,405.62-54.57,58.25-184.02,26.16-306-4.09-173.91-43.12-223.15-103.56-280-73.56-84.37,44.52-115.3,251.21-36,325.92,97.48,91.84,275.78-96.53,572-30.65,119.09,26.49,282.64,99.71,281,184.93-1.29,66.95-104.09,117.38-151.11,137.34" />
            <path class="cls-1" d="m769.37,1197.8c-2.59,1.06-4.92,2-6.95,2.81" />
        </svg>
    </div>
    <section class="intro">
        <div class="content-wrapper grid-intro">
            <div class="col1">
                <h1>Ireland’s Honeybee Rescue Network</h1>
                <h2>
                    Found a swarm? <span class="findKeeper">We will find you a keeper</span>
                </h2>
                <a href="{% url "reportSwarm" %}">Report a swarm</a>
            </div>
            <div class="col2">
                <img src="{% static "unauthenticated/images/honey_bee.png" %}" alt="Illustration of Honeybee" class="img-Honeybee img">
            </div>
        </div>
    </section>
    <section class="data-section">
        <div class="grid-wrapper">
            <div class="grid-data-section">
                <div class="grid-col1">
                    <div class="card card-half">
                        <h2>We started in 2018</h2>
                        <h3>This is what we have achieved in 4 years, imaging what we can do in 40!</h3>
                    </div>
                </div>
                <div class="grid-data-section-col2">
                    <div class="card swarms-collected">
                        <h3 class="collectedh3">
                            <span data-collected="1032">1032</span>
                            swarms collected!
                        </h3>
                    </div>
                    <div class="card calls-to-field">
                        <h3 class="calls-field-h3">
                            <span data-calls="6504">6504</span>
                            calls have been fielded!
                        </h3>
                    </div>
                    <div class="card bees-saved">
                        <h3 class="bees-saved-h3">
                            <span data-saved="1465">14565</span>
                            bess have been saved!
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-us-section about-us-grid">
        <div class="img-div">
            <img src="{% static "unauthenticated/images/swarms1.jpg" %}" alt="Beekeeper moving Honeybees">
        </div>
        <div class="about-us-text-wrapper">
            <div class="about-us-card">
                <h2 class="about-us-h2">About us</h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae rerum id necessitatibus omnis ipsum dignissimos accusantium distinctio, quaerat quasi nulla nihil quos natus exercitationem iste inventore dolore fugit officiis quisquam fugiat, culpa in quo maiores. Amet necessitatibus ipsam sed impedit ratione rerum placeat vero est, corporis debitis minima quam soluta inventore enim delectus dolore corrupti earum veniam. At in necessitatibus, modi maiores itaque nulla magnam distinctio reprehenderit beatae quidem asperiores sed iusto vel dolores odit totam odio placeat nihil laborum vitae temporibus non tempore! Consequuntur iste, aspernatur modi ipsum eaque minus et culpa, illum, laboriosam non assumenda! Possimus, delectus iure.
                </p>
                <div class="learn-more-about-us">
                    <a href="{% url "about" %}" class="learn-more-btn">Learn More</a>
                </div>
            </div>
        </div>
    </section>
    <section class="faq-section content-wrapper">
        <h2 class="faq-h2">
            <abbr title="Frequently Asked Questions">FAQs</abbr>
        </h2>
        <h3 class="faq-h3">Please see below some of our Frequest Asked Questions</h3>
        <div class="faq-grid">
            {% for question in faq %}
                <details class="faq-details">
                    <div class="faq-content">{{ question.details }}</div>
                    <summary class="faq-summary">{{ question.summary }}</summary>
                </details>
            {% endfor %}
        </div>
    </section>
    <section class="beekeeper-section beekeeper-grid ">
        <div class="beekeeper-text-wrapper">
            <div class="beekeeper-text beekeeper-card">
                <h3>Beekeeper</h3>
                <p class="beekeeper-p">
                    Fine weather prompts the honeybee to swarm, to reproduce as a colony and go out into the world. This is a perfectly natural event, swarming bees mean us no harm.
                </p>
                <p class="beekeeper-p">
                    As a precaution, keep children and animals away from the swarm and do not approach yourself as honeybees can get defensive. They are less likely to sting when swarming than at any other time, but they do not lose the ability to sting. Getting stung once can elicit numerous bees to defend by stinging the same target. Avoid the problem, give them space & respect.
                </p>
                <p class="beekeeper-p">
                    Swarms can collect for short periods on nearly anything while scout bees search for a perfect new abode. Once a suitable location has been agreed up (bees are very democratic!), they all move en masse to the new location, the sight of a cloud of bees moving is something else!
                </p>
                <div class="btn-wrapper">
                    <a href="#" class="learn-more-btn learn-more">Learn more</a>
                </div>
            </div>
        </div>
        <div class="beekeeper-img-wrapper">
            <img src="{% static "unauthenticated/images/swarms2.jpg" %}" alt="" class="img">
        </div>
    </section>
{% endblock content %}
{% block jsfiles %}
    <script src="{% static "unauthenticated/unauthenticated.js" %}"></script>
{% endblock jsfiles %}
