<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
              content="Welcome to Swarms.ie Irelands Honeybee Rescue Network " />
        <meta name="keywords"
              content="bee removal ireland,bee swarm removal,Rehoming bees,bee removal,bee nest removal,bee nest removal near me,bee movers near me, Swarm of bees,  how to get rid of bees in chimney,how to get rid of bees in roof, bee rescue removal,honeybee ireland, how to get rid of bees nest in roof tiles, bee collection service, bee home,how to get rid of bees in roof space, bee collector,Local beekeeper, swarm.ie, swarms ie" />
        <meta name="author" content="Swarms.ie" />
        <title>Swarms.ie | Honeybee swarm removals</title>
    </head>
    <body></body>
</html>
