.short-page-body {
  /* Why? The sign in form page is too small grid pushes it to full screen */
  /* Gap acts as margins */
  gap: 2em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.75em;
}

.content-wrapper > p {
  text-align: center;
}

form {
  display: grid;
  gap: 1em;
  align-items: center;
  justify-items: start;
  margin-inline: auto;
}

.helptext {
  margin-top: 0.125em;
  display: block;
}

form input {
  width: 200px;
}

form input[type="checkbox"] {
  accent-color: #ea9d34;
  margin-right: auto;
  width: fit-content;
}

form button[type="submit"] {
  font-size: 1.5rem;
  padding: 0.25em 1.5em;
  border-radius: 100vmax;
  background-color: #8b4313;
  color: white;
  text-transform: capitalize;
}

fieldset {
  margin-inline: auto;
  margin-top: 2em;
  border-radius: 5px;
  padding: 3em;
  margin-block: 2em;
}

@media (min-width: 700px) {
  fieldset {
    width: max-content;
    margin-inline: auto;
  }

  form[action="/accounts/login/"] > :nth-child(2),
  form[action="/accounts/login/"] > :nth-child(3) {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
  }

  form[action="/accounts/login/"] .helptext {
    grid-column: 1/-1;
  }

  /* signup form */
  form[action="/accounts/signup/"] > p {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
  }
}

.loader-body {
  /* hiding all content on the page with loader */
  /*used in Signout form, form submits on DomContent Loaded automatically hiding content until loaded */
  position: absolute;
  inset: 0;
  z-index: 2;
  height: 100svh;
  width: 100svw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  --height: 50%;
  height: var(--height);
  aspect-ratio: 1;
  border-radius: 50%;
  border: 80px solid var(--bk-yellow);
  animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
}

.loadingH1 {
  position: absolute;
  font-size: 3rem;
  text-align: center;
}

@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 0%
    );
  }
  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }
  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  62.5% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}
@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}

@media (prefers-reduced-motion) {
  .loader {
    --height: 50%;
    height: var(--height);
    aspect-ratio: 1;
    border-radius: 50%;
    border: 80px solid var(--bk-yellow);
    animation: l20-1 5s infinite linear forwards, l20-2 5s forwards linear;
  }
}
